<%- include('header'); -%> 

    <div class="box" id="heading">
        <h1> <%= listtitle %> </h1>
    </div>

    <div class="box">

            <%  for (var i = 0 ; i < newListItems.length ; i++ ) {   %>  
                <div class="item">
                    <input type="checkbox">
                    <p> <%= newListItems[i] %> </p>    
                </div>             
            <% } %> 
            <div class="item">   
            <form class="item" action="/" method="POST">
                <input name="newItem" type="text" placeholder="New Item">
                <button type="submit" name="button" value= <%= listtitle %> >+</button>  <!--here we are adding a dinamic value to the button -->
            </form>
                </div>

    </div>
     

    <%- include('footer'); -%> 

